@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.slick-prev:before,
.slick-next:before {
  display: none;
}
.banner-slider .slick-dots {
  display: block!important;
  bottom: 20px!important;
}
.custom-next-arrow {
  right: 0px !important;
  top: -58px !important;
  width: 77px !important;
  height: 77px !important;
  padding: 5px;
}
.slick-dots {
  bottom: 30px !important;
  align-items: center;
  display: flex !important;
  justify-content: center;
  vertical-align: middle;
}
.slick-dots li {
  height: 5px !important;
}
.slick-dots li button, .login-slider .slick-dots li {
  width: 20px!important;
  padding: 2px!important;
  height: 1px!important;
  cursor: pointer!important;
  color: transparent!important;
  border: 0!important;
  outline: none!important;
  background: rgb(255 255 255 / 30%)!important;
}
.fullpage-slider .slick-dots {
  position: absolute;
  bottom: 30px !important;
}
.fullpage-slider .slick-dots li {
  height: 1px !important;
}
.slick-dots .slick-active, .login-slider .slick-dots .slick-active {
  background: #ffffff!important;
  width: 60px!important;
  padding: 2px!important;
  height: 1px!important;
}
.slick-dots .slick-active button {
  display: none!important;
}
.slick-dots li button:before {
  display: none;
}
.trending-slider .slick-slide {
  display: block;
  margin: 0px -2px;
  padding: 0px 10px;
}
